<div class="container">
	<br><br>
	<h1><a href="/products"><span class="fas fa-home"></span></a></h1>
	<br><br>

	<div class="products_import col-md-3">
		<br>Import CSV / XLS / SXLSX :<br><br>
		<%= form_tag import_path , multipart: true do %>
		  <%= file_field_tag :file%><br><br>
		  <%= submit_tag "Import", class: "btn btn-success" %>
		<% end %>
		<br>
	</div>
</div>
<style>
	.products_import {
		background-color: #85C1E9;
		border-radius: 25px;
	}
</style>