<h3>Hi <%= @user.name%></h3><br>

Welcome to Demoapp.<br><br>

You products are imported successfully. <br><br>

You can find out your uploaded file in below attachement.<br><br>

<hr>
Thank you.<br>

Shivakumara M, <br>
Technical Manager at Demoapp <br>

Email : mail4hiremath@gmail.com<br>
Contact : +91 9743904397<br><br>
